.header
  padding-top: 38px
  height: 960px
  background-color: #000
  background-image: url(../img/background-1.jpg)
  background-repeat: no-repeat
  &__title
    color: #fff
    margin-top: 188px
    font-style: normal
    font-weight: bold
    font-size: 64px
    line-height: 140%
    margin-bottom: 50px
  &__card
    width: 100px
    height: 110px
    background-color: #131313
    padding: 20px 30px
    display: flex
    flex-direction: column
  &__text
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 140%
    color: #fff
    align-self: center
    margin: 0
  &__subtext
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 140%
    opacity: 0.4
    color: #fff
    align-self: center
.card-wrapper
  display: flex
  justify-content: space-between
  width: 522px
  height: 110px
